* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: serif;
  font-size: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  overflow: hidden;
}

.container {
  border: 2px solid red;
}

.timer {
  background-color: #4345;
  display: flex;
}

.timer .col-1,
.timer .col-2,
.timer .col-3 {
  background-color: #4345;
  width: 5rem;
  height: 20rem;
  margin: 0 1rem;
  overflow-y: scroll;

  scroll-snap-type: both mandatory;
}
.timer .col-1 > div,
.timer .col-2 > div,
.timer .col-3 > div {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

.timer .col-1 > div:nth-child(even),
.timer .col-2 > div:nth-child(even),
.timer .col-3 > div:nth-child(even) {
  background-color: rgba(85, 68, 51, 0.541);
}

/* width */
.timer .col-1::-webkit-scrollbar,
.timer .col-2::-webkit-scrollbar,
.timer .col-3::-webkit-scrollbar {
  width: 0px;
}
